body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3eade;
  box-sizing: border-box;
}

#image-placeholder {
  width: 300px;
}

textarea {
  border: none !important;
  resize: none !important;
  font-size: 22px;
  color: white;
  font-family: impact;
  overflow: hidden;
}

textarea::placeholder {
  color: rgb(207, 206, 206);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent !important;
}

h3 {
  color: #5a3414;
  padding: 7px;
  font-family: cursive;
  font-size: xx-large;
  font-weight: bold;
}

.main {
  display: flex;
  /* background: #eadeb9; */
  /* margin: 50px 135px; */
  padding: 35px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#root {
  width: 100%;
  border: 5px solid #fdb65e;
  margin-left: 10px;
  border-radius: 10px;
}

.topnav {
  background: black;
  color: #c1e7ff;
  display: flex;
  justify-content: space-around;
  padding: 18px;
}

.nav-item {
  padding: 5px 40px;
  cursor: pointer;
  font-size: 1.25em;
}

.nav-item:hover {
  background: #c0e7fe;
  color: black;
}

.settings {
  /* padding: 0% 6%; */
}

.accordion {
  padding: 0 20px;
  padding-bottom: 30px;
}

.font-options {
  display: flex;
  margin: 20px 0px;
}

.options {
  display: flex;
  margin-left: 20px;
  width: 90%;
}

.option-label {
  padding-right: 10px;
  align-self: center;
}

/* Slider styles */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  align-self: center;
  padding: 0;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 !important;
  width: 25px;
  height: 25px;
  background: #a58366;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #3f65e2;
  cursor: pointer;
}

/* Slider styles */

.accordion-body {
  background-color: beige;
}

.accordion-button:not(.collapsed) {
  color: #a58366;
  background: #f3eade !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  font-weight: bold;
}

.setting-btn {
  background: linear-gradient(45deg, #d6ad2c 30%, #cd6e1e 90%);
  border: 0;
  color: #ffffff;
  font-weight: bold;
}

.setting-btn:focus {
  box-shadow: unset !important;
}

.accordion-button {
  color: #a58366;
  font-style: italic !important;
  background: #f3eade !important;
}

.file-container {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 550px) {
  .topnav {
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
  }

  .nav-item {
    padding: 0.25% 46%;
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 950px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #root {
    margin: 20px 0px;
  }

  .options {
    display: flex;
    width: 90%;
  }
}

@media only screen and (max-width: 545px) {
  .options {
    display: flex;
    width: 90%;
    margin: 10px 0px;
  }

  .font-options {
    display: block;
    margin: 20px 0px;
  }
}
